@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');



:root {
    --w3-green: #04AA6D;
    --w3-green-lt: #D9EEE1;
    --w3-pink: #ffC0C7;
    --w3-pink-lt: #F3ECEA;
    --w3-yellow: #FFF4A3;
    --w3-green-lx: #96D4D4;
    --w3-black: #282835;

    --w3-btm-img-width: min(90vw, 1000px)
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans 3', sans-serif;
    background-color: #D9EEE1;
    font-size: 16px;
}

@media only screen and (max-width: 990px) {

    body {
        text-align: center;
        font-size: 14px;
    }
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    background-color: white;
    width: 100vw;
    z-index: 10;
}

/* navbar */
.navbar {
    padding: 6px;
}

/* left styles */

.left {
    gap: 10px;
}

.logo {
    width: 52px;
    margin: 0 20px 0 10px;
}

.logo>svg {
    width: 100%;
    transform: scale(1.3);
}

.nav-items {
    gap: 30px;
    margin: 0px;
    padding: 0px;
}

.nav-items-small {
    display: none;
}


.nav-items .item {
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
    display: inline-flex;
    align-items: center;
    gap: 3px;
}

.nav-items .item i {
    font-size: 13px;
}

.searchCont {
    width: 10rem;
    height: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    margin-inline: 1rem;
    padding: 5px 5px 5px 15px;

}

.searchCont:focus-within {
    border: 3px solid #059862;
}

.searchCont>div:first-child {
    width: 80%;
}

.searchIcon {
    width: 20%;
    aspect-ratio: 1;
    position: relative;
    border-radius: 50%;
    transform: scale(1.2);
}

.searchIcon-media {
    display: none;
}

.searchIcon:hover {
    background-color: rgb(235, 229, 229);
}

.searchIcon>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#SearchInput {
    width: 100%;
    font-style: italic;
    font-size: 15px;
    font-weight: lighter;
    border: none;
}

#SearchInput:focus-visible {
    outline: none;
}

.left>a:last-child {
    width: 36px;
    aspect-ratio: 1;
    position: relative;
    border-radius: 50%;
}

.left>a:last-child:hover {
    background-color: rgb(235, 229, 229);
}

.left>a:last-child>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* right styles */

.right {
    gap: 0.3rem;
    /* margin-right: 20px; */
}

.rightItem {
    border-radius: 24px;
    padding: 0.6rem 0.75rem;
}

.rightItem:hover {
    background-color: rgb(243, 240, 240);
}

.rightItem>span {
    margin-inline: 10px;
}

.log-in {
    border-radius: 24px;
    padding: 0.6rem 1.3rem 0.6rem 2.5rem;
    background-color: var(--w3-green-lt);
    color: black;
    z-index: -1;
    cursor: pointer;
}

.log-in:hover {
    background-color: var(--w3-green);
}

.sign-up {
    border-radius: 1.5rem;
    padding: 0.6rem 1.3rem;
    background-color: var(--w3-green);
    color: white;
    margin-right: -35px;
    cursor: pointer;
}


#CourseBar {
    width: 100%;
    background-color: var(--w3-black);
    /* padding: 7px 5px; */
    height: 30px;
    gap: 28px;
    font-size: 15px;
    color: white;
    position: relative;
    box-sizing: border-box;

}

.course-bar-arrow {
    height: 70%;
    aspect-ratio: 1;
}

.rightArrow {
    position: absolute;
    right: 0;
}

/* main content */

.main-container {
    background-image: url("../assets/spaceImg.png"), url("../assets/bg.gif");
    background-repeat: no-repeat, repeat;
    background-position: 90% 60%, center center;

    height: 50vh;
    color: white;
    padding-top: 160px;
    padding-bottom: 90px;
    text-align: center;
}

.main-container>h1 {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
}

.main-container>h3 {
    color: var(--w3-yellow);
    font-weight: 700;
    margin-top: 26px;
    font-size: 1.5rem;
}

.main-container>div {
    width: min(500px, 40vw);
}

.main-container>div>input {
    padding: 13px 25px;
    width: 80%;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border: none;
    outline: none;
    color: #4e4e50;
    font-weight: 600;

}

.main-container>div>input::placeholder {
    font-family: 'Source Sans 3', sans-serif;
}

.main-container div button {
    width: 20%;
    color: white;
    padding: 12px;
    font-size: 1.06rem;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color: var(--w3-green);
    border: 1px solid var(--w3-green);
}

.main-container>div>input:focus {
    outline: none;
}

.main-container>h4>a {
    color: white;
    font-size: 1.43rem;
    font-weight: 700;
    margin-top: 30px;
    text-decoration: underline;
}


/* HTML SPECTIFIC STYLING */

.html-container {
    background-color: #D9EEE1;
}

.html-desc .btn:nth-child(3) {
    background-color: var(--w3-green);
    /* color: white; */
}

.html-desc .btn:nth-child(4) {
    background-color: var(--w3-yellow);
    color: black;
}

.html-desc .btn:nth-child(5) {
    background-color: var(--w3-black);
}

.html-desc .btn:nth-child(6) {
    background-color: var(--w3-pink);
    color: black;
}


/* CSS SPECTIFIC STYLING */

.css-container {
    background-color: var(--w3-yellow);

}

.css-desc .btn:nth-child(3) {
    background-color: var(--w3-green);
    /* color: white; */
}

.css-desc .btn:nth-child(4) {
    background-color: var(--w3-black);
    /* color: white; */
}

.css-desc .btn:nth-child(5) {
    background-color: var(--w3-pink);
    color: black;
}

/* JS SPECTIFIC STYLING */

.js-container {
    background-color: var(--w3-black);
    color: white;
    padding: 0px;
}

.js-desc h2 {
    font-size: 70px;
}

.js-desc .btn:nth-child(3) {
    background-color: var(--w3-green);
    /* color: white; */
}

.js-desc .btn:nth-child(4) {
    color: var(--w3-black);
    background-color: white;
}

.js-desc .btn:nth-child(5) {
    background-color: var(--w3-pink);
    color: black;
}

/* PYTHON SPECTIFIC STYLING */

.py-container {
    background-color: var(--w3-pink-lt);
    padding: 0px;

}

.py-desc h2 {
    font-size: 70px;
}

.py-desc .btn:nth-child(3) {
    background-color: var(--w3-green);
    /* color: white; */
}

.py-desc .btn:nth-child(4) {
    background-color: var(--w3-black);
    color: white;
}

.py-desc .btn:nth-child(5) {
    background-color: var(--w3-pink);
    color: black;
}

/* PYTHON SPECTIFIC STYLING */

.sql-container {
    background-color: var(--w3-green-lx);
    padding: 0px;
}

.sql-desc .btn:nth-child(3) {
    background-color: var(--w3-green);
    /* color: white; */
}

.sql-desc .btn:nth-child(4) {
    background-color: var(--w3-black);
    color: white;
}

.sql-desc .btn:nth-child(5) {
    background-color: var(--w3-pink);
    color: black;
}

/* grid section */

#courseCards {
    background-color: var(--w3-black);

    flex-wrap: wrap;
    row-gap: 58px;
    column-gap: 92px;
    padding: 66px 0px;
}

.course-card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    min-height: 235px;
}

.course-card-item h2 {
    font-size: 45px;
    margin: 0;
}

.course-card-item p {
    color: #3A3A3A;
    margin: 10px 0 16px;
    font-size: 18px;
}

.course-card-item button {
    width: 36%;
    background-color: black;
    color: white;
    font-weight: bold;
}

.midCourses {
    background-color: var(--w3-black);

    column-gap: 92px;
    padding-top: 66px;
}

.mid-courses-card {
    display: grid;
    place-items: center;

    width: 40%;
    background-color: white;
    border-radius: 5px;
    padding: 24px 0px;
    font-size: 1.5rem;
}

#otherCourses {
    background-color: var(--w3-black);
    flex-wrap: wrap;
    padding: 66px 0px;
    row-gap: 58px;
    column-gap: 92px;
}

.card {
    width: 17%;
    height: 113px;
    background-color: white;
    border-radius: 5px;
    display: grid;
    place-items: center;
    font-size: 1.75rem;
    font-weight: 500;
    /* through js */
}

/* code editor section */

.code-editor-section {
    background-color: var(--w3-black);
    color: white;
    padding: 104px 0;
}

.code-editor-section>h2 {
    font-size: 4rem;
    margin: 0;
}

.code-editor-section>p {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
}

.code-editor-section-buttons {
    width: var(--w3-btm-img-width);
    text-align: left;
}

.code-editor-section-buttons button {
    border: none;
    padding: 6px 18px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 17px;
}

.code-editor {
    width: var(--w3-btm-img-width);
    background-color: #f1f1f1;
    border-radius: 4px;
    color: black;
    margin-top: 50px;
}

.editor-menu-bar {
    height: 28px;
    padding: 8px;

}

.menu-bar-controls {
    width: 21%;
    height: 28px;
    align-self: flex-start;
    gap: 5px;
}

.menu-bar-controls div {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;

}

.editor-menu-bar> :nth-child(2) {
    width: 50%;
    align-self: center;
    padding: 3px;
    border-radius: 5px;
    background-color: white;
    text-align: left;
    font-size: 0.94rem;
}

.theme-control {
    height: 42px;
    width: 100px;
    display: grid;
    place-items: center;
    font-size: 1.06rem;
    font-weight: 600;
    border: none;
    opacity: 0.9;
}

.theme-control:hover {
    background-color: #E7E9EB;
}


.prefinal-sec {
    background-color: var(--w3-black);
    color: white;
    padding: 104px 0;
}

.prefinal-sec>h2 {
    font-size: 4rem;
    margin: 30px 0;
}

.prefinal-sec>p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px 0 0 0;
}

.prefinal-sec :last-child>button {
    font-size: 21px;
    width: 300px;
}

.my-learning-section {
    background-color: var(--w3-green-lt);
    padding: 104px 0;
}

.my-learning-section h2 {
    font-size: 4rem;
    margin: 30px 0;
}

.my-learning-section>p {
    font-size: 20px;
    /* font-weight: 600; */
    margin: 5px 0 0 0;
}

.my-learning-section :last-child>button {
    font-size: 21px;
    width: 300px;
}

.color-picker-section {
    background-color: #F3ECEA;
    text-align: center;
    padding: 45px 0;
}

.color-picker-section h2 {
    font-size: 4rem;
    margin: 30px 0;
}

.color-picker-section p {
    font-size: 20px;
    margin: 5px 0 0 0;
}

.code-game-section {
    padding: 45px 0;
    font-family: 'Freckle face';
    background-color: #96D4D4;
    text-align: center;
}

.code-game-section h2 {
    font-size: 45px;
    margin: 30px 0;
}

.code-game-section p {
    font-size: 1.875rem;
    margin: 5px 0 0 0;
}

.code-game-section :last-child>button {
    background-color: black;
    font-size: 21px;
    width: 300px;
    color: white;
}

.web-template-section {
    background-color: #282A35;
    color: white;
    text-align: center;
    padding: 45px 0;
}

.web-template-section>h2 {
    font-size: 65px;
    margin: 30px 0;
}

.web-template-section>p {
    font-size: 20px;
    margin: 5px 0 0 0;
}

.box {
    display: inline-block;
    width: 30vw;
    margin: 0 auto;
}


/* footer section */


footer {
    background: url("../assets/footerSecBG.png"), url("../assets/bg.gif");
    background-repeat: no-repeat, repeat;
    background-position: right bottom, center center;
    color: white;
    padding: 60px 0 299px;
}

.footer-nav {
    width: 75vw;
    margin: auto;
    gap: 30px;
}

.logo {
    display: grid;
    place-content: center;
}

ul {
    padding: 0;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

.footer-navlist {
    list-style-type: none;
    gap: 75px;
    font-size: 0.94rem;
}

.footer-navlist li a {
    color: var(--w3-yellow);
}

.footer-links-container {
    width: 75vw;
    margin: auto;
}

.footer-links-container ul li {
    font-size: 12px;
    margin: -1px 0;
}

.footer-links-container div {
    flex-grow: 1;
}

.social-media {
    width: 75vw;
    margin: auto;
    gap: 20px;
    padding: 60px 0 10px 0;
    font-size: 0.94rem;
}

.copyright-content {
    width: 75vw;
    margin: auto;
    font-size: 0.75rem;
}

.copyright-content br {
    visibility: none;
}







@media only screen and (max-width: 1290px) {
    .right> :nth-child(1) {
        display: none;
    }
}

@media only screen and (max-width: 1190px) {
    .right> :nth-child(2) {
        display: none;
    }
}

@media only screen and (max-width: 1111px) {
    footer {
        background-repeat: no-repeat, repeat;
        background-position: center bottom, left top;
        text-align: center;
        padding: 40px 0 470px;
        font-size: 16px;

    }

    .footer-nav,
    .footer-navlist,
    .footer-links-container {
        flex-direction: column;
    }

    .footer-nav {
        align-items: center;
    }

    .footer-navlist {
        font-size: 1.25em;
        gap: 26px;
        font-weight: 500;
    }

    .footer-links-container ul li {
        font-size: 1em;
    }

    .social-media {
        justify-content: center;
    }

}

@media only screen and (max-width: 1070px) {

    .hide-on-small {
        display: none;
    }

}

@media only screen and (max-width: 950px) {
    .nav-items> :nth-child(3) {
        display: none;
    }

    .main-container {
        background-image: url("../assets/bg.gif");
        background-position: center center;
        padding-bottom: 0;
    }



}


@media only screen and (max-width: 990px) {

    body {
        text-align: center;
        font-size: 14px;
    }

    .section-container {
        flex-direction: column;
        gap: 0;
        padding: 35px 0;
    }

    .section-code {
        width: 85%;
    }

    .btn {
        width: 200px;
    }

    #courseCards {
        flex-direction: column;
        row-gap: 33px;
    }

    .course-card-item {
        width: 90%;
    }

    .midCourses {
        flex-direction: column;
        padding: 15px;
        gap: 33px;

    }

    .mid-courses-card {
        width: 90%;
    }

    #otherCourses {
        row-gap: 33px;
        column-gap: 60px;
    }

    .card {
        width: 40%;
        height: 113px;
    }



}

@media only screen and (max-width: 818px) {
    .left {
        gap: 25px;
    }

    .searchCont {
        display: none;
    }

    .searchIcon-media {
        height: 100%;
        aspect-ratio: 1;
        display: grid;
        place-items: center;

    }
    .main-container div button {
        border: 0;
        font-size: 1rem;
        width: 25%;
    }

    /* .hide-on-small {
        display: block;
    } */
}

@media only screen and (max-width: 770px) {
    .nav-items {
        display: none;
    }

    .nav-items-small {
        display: block;
    }

    .searchIcon-media {
        display: none;
    }

    .searchCont {
        width: 10rem;
        height: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        margin-inline: 1rem;
        padding: 5px 5px 5px 15px;
        display: flex;
        align-items: center;

    }

    .searchCont:focus-within {
        border: 3px solid #059862;
    }

    .searchCont>div:first-child {
        width: 80%;
    }

    .searchIcon {
        width: 20%;
        aspect-ratio: 1;
        position: relative;
        border-radius: 50%;
        transform: scale(1.2);
    }

    .searchIcon-media {
        display: none;
    }

    .searchIcon:hover {
        background-color: rgb(235, 229, 229);
    }

    .searchIcon>i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #SearchInput {
        width: 100%;
        font-style: italic;
        font-size: 15px;
        font-weight: lighter;
        border: none;
    }

    #SearchInput:focus-visible {
        outline: none;
    }
}

@media only screen and (max-width: 600px) {

    .card {
        width: 90%;
        height: 113px;
    }

}

@media only screen and (max-width: 636px) {
    .left {
        gap: 30px;
    }

    .searchCont {
        display: none;
    }

    .searchIcon-media {
        height: 100%;
        aspect-ratio: 1;
        display: grid;
        place-items: center;

    }
    .main-container>div {
        width: clamp(200px, 80vw ,400px);

    }
}

/* main-container */

@media only screen and (max-width: 500px) {
    .main-container>h1 {
        font-size: 60px;
    }

    .main-container>h3 {
        font-size: 21px;
    }
}

@media only screen and (max-width: 440px) {
    .left {
        gap: 1rem;
    }

    /* .log-in {
        display: none;
    } */
}